<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <body>

        <footer th:fragment="footer" class="ftco-footer ftco-bg-dark ftco-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6 col-lg-3">
                        <div class="ftco-footer-widget mb-5">
                            <h2 class="ftco-heading-2">Vraag?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><a href="#"><span class="icon icon-envelope"></span><span class="text">vzwfeles@gmail.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ftco-footer-widget mb-5">
                            <h2 class="ftco-heading-2 mb-0">Connect</h2>
                            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="ftco-footer-widget mb-5 ml-md-4">
                            <h2 class="ftco-heading-2">Hoofdsponsors</h2>
                            <ul class="list-unstyled">
                                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Sponsor1</a></li>
                                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Sponsor2</a></li>
                                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Sponsor3</a></li>
                                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Sponsor4</a></li>
                                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Sponsor5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="ftco-footer-widget mb-5">
                            <h2 class="ftco-heading-2">Nieuws</h2>
                            <div class="block-21 mb-4 d-flex">
                                <div class="text">
                                    <h3 class="heading"><a href="#">Winnaars Crossdorp Challenge</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span> 11 april, 2020</a></div>
                                        <div><a href="#"><span class="icon-person"></span> Wouter</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-21 mb-5 d-flex">
                                <div class="text">
                                    <h3 class="heading"><a href="#">Crossdorp wordt uitgesteld tot volgend jaar</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span> 11 april, 2020</a></div>
                                        <div><a href="#"><span class="icon-person"></span> Wouter</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="ftco-footer-widget mb-5 ml-md-4">
                            <h2 class="ftco-heading-2">Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Gemeente Beernem</a></li>
                                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Rugbyclub Beernem</a></li>
                                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>De Natuurloop</a></li>
                                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>VZW Den Bunker</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">

                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </footer>

    </body>

</html>