<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>

        <th:block th:fragment="scripts">
            <script th:src="@{/theme/js/jquery.min.js}"></script>
            <script th:src="@{/theme/js/jquery-migrate-3.0.1.min.js}"></script>
            <script th:src="@{/theme/js/popper.min.js}"></script>
            <script th:src="@{/theme/js/bootstrap.min.js}"></script>
            <script th:src="@{/theme/js/jquery.easing.1.3.js}"></script>
            <script th:src="@{/theme/js/jquery.waypoints.min.js}"></script>
            <script th:src="@{/theme/js/jquery.stellar.min.js}"></script>
            <script th:src="@{/theme/js/owl.carousel.min.js}"></script>
            <script th:src="@{/theme/js/jquery.magnific-popup.min.js}"></script>
            <script th:src="@{/theme/js/aos.js}"></script>
            <script th:src="@{/theme/js/jquery.animateNumber.min.js}"></script>
            <script th:src="@{/theme/js/scrollax.min.js}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
            <script th:src="@{/theme/js/google-map.js}"></script>
            <script th:src="@{/theme/js/main.js}"></script>
        </th:block>

    </head>

</html>