<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <body>

    <section th:fragment="goal" class="ftco-services ftco-no-pb">
        <div class="container-wrap">
            <div class="row no-gutters">
                <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-teacher"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Sport</h3>
                            <p>Loop mee op zaterdag 3 april 2021. Start en finish bevinding zich aan Sporthal Den Akker, te Oedelem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-reading"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Fun</h3>
                            <p>Wij gaan de combinatie aan. Crossdorp Oelem staat voor een mix van sport, uitdaging en fun.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-books"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Toegankelijk</h3>
                            <p>Iedereen is sportief. Loop 3, 6 of 9KM op je eigen tempo en voel de sportroes wanneer je finisht.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-diploma"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Verenig u</h3>
                            <p>Kom massaal af en toon je vereniging aan de anderen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </body>

</html>