<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>

    <section th:fragment="offer" class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                    <div class="text px-4 ftco-animate">
                        <h2 class="mb-4">Wat is Crossdorp Oelem</h2>
                        <p>
                            Kort gezegd is Crossdorp Oelem een "normale" stratenloop, met tijdsregistratie en een podiumceremonie voor beste mannen en beste vrouwen op elk van de drie afstanden, nl. 3, 6 of 9 KM.
                        </p>
                        <p>
                            Als extraatje kunnen verenigingen een geldprijs winnen, als ze één van onze uitdagingen kunnen binnenhalen.
                        </p>
                        <p><a href="#" class="btn btn-secondary px-4 py-3">Meer weten</a></p>
                    </div>
                </div>
                <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                    <h2 class="mb-4">Ons aanbod</h2>
                    <p>Een middag sport voor de geoefend en recreatieve loper. Loop 3, 6 of 9 KM, snel of traag, en help een Beernemse vereniging naar keuze hun kas te spijzen.</p>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
                                <div class="text">
                                    <h3>Wanneer</h3>
                                    <p>Paaszaterdag, 4 april 2021. Het startschot wordt om 15u gegeven.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
                                <div class="text">
                                    <h3>Waar</h3>
                                    <p>In en rond Sporthal Den Akker, te Oedelem</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
                                <div class="text">
                                    <h3>Quanta costa</h3>
                                    <p>Je deelname kost je 8 euro in voorverkoop, en 10 euro ter plaatse. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
                                <div class="text">
                                    <h3>Mout</h3>
                                    <p>De middag wordt vakkundig gepresenteerd door Mout Uyttersprot</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
                                <div class="text">
                                    <h3>Parcours</h3>
                                    <p>We hebben een parcours van 3KM uitgetekend rond sporthal Den Akker. Je loopt de lust 1, 2 of 3 keer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
                                <div class="text">
                                    <h3>Party Pitstop</h3>
                                    <p>Omdat we niet kunnen laten voorzien we een sfeervolle pitstop. Sportievelingen kunnen ongehinderd verder lopen.
                                        Zij die liever wat meer rust inlassen, worden op hun wenken bediend.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    </body>

</html>